<header class="row">
    <!-- Render the header here -->
</header>
<nav class="row">
    <!-- Render the navigation bar here -->
</nav>
<div class="body">
    <!-- Render the main body here -->
</div>
