<header class="row">
    <div>
        <div class="col-md-12">
        
                <img class="img-responsive center-block"
                     src="logo.png" alt="vision-logo"
                     style="margin-bottom: 30px; margin-top: 100px; max-width: 60%;">
            
        </div>
    </div>
</header>

<nav class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
        <input type="text" id="connect-input" class="form-control form-group-lg tv-code controllable"
               placeholder="Vision TV code..." autofocus required>
    </div>
</nav>

<nav class="row">
    <div class="col-md-12 text-center">
        <ul class="list-inline">
            <li>
                <a href="#" id="connect" class="btn btn-lg btn-primary controllable"><h3>
                    <i class="fa fa-plug" aria-hidden="true"></i>
                    Connect
                </h3></a></li>
        </ul>
    </div>
</nav>


<style>
    body {
        background: url(bg.jpg) repeat;
        -webkit-animation: loader 120s steps(1500) infinite;
        -moz-animation: loader 120s steps(1500) infinite;
        -ms-animation: loader 120s steps(1500) infinite;
        -o-animation: loader 120s steps(1500) infinite;
        animation: loader 60s steps(1500) infinite;
    }

    @-webkit-keyframes loader {
        from {
            background-position: 0;
        }
        to {
            background-position: -1000px -1000px;
        }
    }
    @-moz-keyframes loader {
        from {
            background-position: 0;
        }
        to {
            background-position: -1000px -1000px;
        }
    }
    @-ms-keyframes loader {
        from {
            background-position: 0;
        }
        to {
            background-position: -1000px -1000px;
        }
    }
    @-o-keyframes loader {
        from {
            background-position: 0;
        }
        to {
            background-position: -1000px -1000px;
        }
    }
    @keyframes loader {
        from {
            background-position: 0;
        }
        to {
            background-position: -1000px -1000px;
        }
    }
</style>