<div class="col-md-3">
    <a href="#">
        <img class="img-responsive logo" src="logo.png" alt="vision-logo">
    </a>
</div>
<div class="col-md-8 col-md-offset-1">
    <input type="text" id="search-box" class="search form-control controllable" placeholder="Search titles...">
</div>
