<h2><i class="fa fa-user" aria-hidden="true"></i> For You</h2>
<hr>
<div id="recommended-region">

</div>

<h2><i class="fa fa-history" aria-hidden="true"></i> Recently Watched</h2>
<hr>
<div id="history-region">
</div>