<div class="col-md-12 text-center">
    <ul class="list-inline">
        <li><a href="#/" id="nav-home" class="btn btn-lg btn-<% if(page == ''){ %>info<% } else {%>default<%}%> controllable"><h3><i class="fa fa-home" aria-hidden="true"></i> Home</h3></a></li>
        <li><a href="#/popular" id="nav-popular" class="btn btn-lg btn-<% if(page == 'popular'){ %>info<% } else {%>default<%}%> controllable"><h3><i class="fa fa-fire" aria-hidden="true"></i> Popular</h3></a></li>
        <li><a href="#/browse" id="nav-browse" class="btn btn-lg btn-<% if(page == 'browse'){ %>info<% } else {%>default<%}%> controllable"><h3><i class="fa fa-list" aria-hidden="true"></i> Browse</h3></a></li>
        <li><a href="#/connect" id="nav-browse" class="btn btn-lg btn-danger btn-outline controllable"><h3><i
                class="fa fa-sign-out" aria-hidden="true"></i> Logout</h3></a></li>
    </ul>
</div>
