<h2><i class="fa fa-fire" aria-hidden="true"></i> Popular Now</h2>
<hr>

<% _.each(collections, function(collection, cindex) { %>
<div class="row">
    <div class="popular-carousel">
        <% _.each(collection, function(item, index) { %>
        <div class="col-sm-3">
            
            <a href="#/watch/<%- item.get('programme_id') %>" class="thumbnail programme_thumb">
                <h4><%- item.get('programme_name') %></h4>
                <hr>
                <img data-lazy="http://iptv-med-image.lancs.ac.uk/cache/200x200/programmes/<%- item.get('image') %>" alt="<%- item.get('programme_title') %>" class="img-responsive img-rounded">

                <span class="small"><i class="fa fa-clock-o"></i> <%- item.get('duration') %></span>

                <span class="small pull-right"><i class="fa fa-television"></i> <%- item.get('channel_name') %></span>
            </a>
        </div>
        <% }) %>
    </div>
</div>

<% }); %>