@import "variables";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import "./node_modules/bootstrap-sass/assets/stylesheets/_bootstrap-sprockets";
@import "./node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "./node_modules/plyr/dist/plyr.css";
@import "./node_modules/slick-carousel/slick/slick.scss";
@import "./node_modules/slick-carousel/slick/slick-theme.scss";

.full-width {
  width: 95%;
  margin-top: 30px;
}

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

.btn-outline {
  background-color: transparent;
  color: inherit;
  transition: all .5s;
}

.btn-primary.btn-outline {
  color: #428bca;
}

.btn-success.btn-outline {
  color: #5cb85c;
}

.btn-info.btn-outline {
  color: #5bc0de;
}

.btn-warning.btn-outline {
  color: #f0ad4e;
}

.btn-danger.btn-outline {
  color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover,
.btn-primary.btn-outline:focus,
.btn-success.btn-outline:focus,
.btn-info.btn-outline:focus,
.btn-warning.btn-outline:focus,
.btn-danger.btn-outline:focus {
  color: #fff;
}

h2, h3, h1, h4 {
  font-weight: lighter;
}

.logo {
  max-width: 300px;
  margin-top: 20px;
}

.slick-prev, .slick-next {
  display: none;
  background: #333;
  padding: 100px 20px;
  position: relative;
  top: 90px;
  color: white;
  font-size: 50px;
  text-decoration: none;
  transition: background .3s;

  &:focus {
    background: #777;
    color: white;
    text-decoration: none;
  }

  &:hover {
    background: #777;
    text-decoration: none;
    color: #fff;;
  }
}

.search {
  padding: 30px 20px;
  font-size: 24px;
  margin-top: 20px;
}

.thumbnail {

  height: 260px;
  transition: background-color .3s;
  padding: 15px;
  background: none;
  background-size: cover;

  &.arrow {
    height: initial;
    text-align: center;
    background: #337ab7;
    color: white;
    font-size: 34px;
    margin: -5px;
    margin-bottom: 30px;

    &:focus {
      color: #337ab7;
    }
  }

  & span {
    position: relative;
    top: 10px;
  }

  &:focus {
    background-color: rgba(0, 0, 0, .1);
  }

  & img {
    width: 100%;
    margin-top: -20px;
    height: 60%;
  }
}

* {
  transition: background-color .5
}

*:focus {
  outline: none !important;
  border: 1px solid red;
  box-shadow: 0 0 10px #719ECE;
  background-color: rgba(0, 0, 0, 0);
}

nav {

  & li {

    & a {
      width: 300px;
      margin-top: 20px;
      padding: 0px 10px 10px 10px !important;
      font-weight: 700;

      &:focus {
        background: none;
      }

    }

  }
}

.background-image {
  position: absolute;
  z-index: -1;
  display: block;
  width: 230px;
  height: 200px;
  margin-left: 17px;
  margin-top: 25px;
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
  opacity: .5;
  overflow: hidden;

  &:focus, :hover {
    background-size: cover;
    opacity: .8;
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
  }
}

.programme_thumb {
  margin-left: 20px;
  margin-right: 20px;
  color: #000;
  padding: 10px;
  border: 1px solid;

  &:focus, :hover {
    color: #000;
    border: 7px black solid;
  }
}

hr {
  opacity: .1;
}

.player-controls {
  font-size: 24px;
  padding: 6px 35px;

  &:focus {
    border: 3px solid blue;
  }
}

.likes-small {
  color: #5cb85c;
  font-size: 18px;
}

.dislikes-small {
  color: #d9534f;
  font-size: 18px;
}

.video-controls {
  position: relative;
  margin-top: -60px;
  z-index: 2;
  bottom: 10px;
}

.tv-code {
  font-size: 35px;
  height: 60px;
  text-align: center;
  background: white;

  &:focus {
    background: white !important;
  }
}
